<div class="row">
{% for blog in blog_content %}
    <div class="col-12">
        <div class="box border card-shadow mb-3 rounded bg-white">
            <h5 class="box-title text-truncate" title="{{ blog.tittle }}">{{ blog.tittle }}</h5>
            <div class="body-row">
                <img class="img-fluid img-max" src="../static/images/backimage.jpg" alt="Card image">
                <div class="box-body text-p m-1">
                    <p class="box-text text-p text-muted">
                            {{ blog.content }}
                    </p>
                    <a class="box-link btn btn-sm btn-info" href="{% url 'view_blog' blog.id %}" target="_blank">阅读全文</a>
                </div>
            </div>
            <div class="box-footer d-flex flex-row">
                <div class="mr-2">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#iconzuozhe"></use>
                    </svg>
                    <span>{{ blog.subbmiter }}</span>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#iconshijian1"></use>
                    </svg>
                    <span>{{ blog.create_Time| date:'Y-m-d H:i'}}</span>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#iconleixing"></use>
                    </svg>
                    <span>{{ blog.classification }}</span>
                </div>
                <div class="item-right">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#iconchakan"></use>
                    </svg>
                    <span>{{ blog.view_count }}</span>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#iconzan"></use>
                    </svg>
                    <span>{{ blog.applaud_count }}</span>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#iconyishoucang"></use>
                    </svg>
                    <span>{{ blog.applaud_count }}</span>
                </div>

            </div>
        </div>

    </div>
{% endfor %}
</div>