{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}?v=1" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}?v=1.0" rel="stylesheet">
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row clearfix" style="margin-top: 100px" >
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <h3 align="center">修改密码</h3>
                    </div>
                </div>
                <hr>
                <form role="form" method="post" action="" style="margin-left: 140px" >
                    {% csrf_token %}
                    <div class="form-group" >
                        <label for="name">用户名：</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input class="form-control" type="text" id="name" name="name" style="width: 300px" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="old_password">旧密码：</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input class="form-control" type="text" id="old_password" name="old_password" style="width: 300px" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new_password">新密码：</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input class="form-control" type="text" id="new_password" name="new_password" style="width: 300px" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="re_new_password">重复新密码：</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input class="form-control" type="text" id="re_new_password" name="re_new_password" style="width: 300px" required>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">提交</button>
                </form>
                <hr>
                <a href="{% url "index" %}">返回登录页</a>
            </div>
        </div>
    </div>
</body>
</html>