<div class="card border-left-0">
    <div class="card-body">
        <div class="col">
            <form role="form" method="POST" action="">
                {% csrf_token %}
                <div class="input-group mb-3" style="padding-bottom: 20px;padding-top: 20px">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="font-size: 10px">用户</span>
                    </div>
                    <input style="font-size: 10px" class="form-control" type="text" id="user" name="username" placeholder="请输入用户名" required>
                </div>
                <div class="input-group mb-3" >
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="font-size: 10px">密码</span>
                    </div>
                    <input style="font-size: 10px" class="form-control" type="password" id="password" name="password" placeholder="请输入密码" required onkeypress="if(event.keyCode===13) {login()}" >
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col">
                        <p id="message" style="color: red;font-size: 5px">

                        </p>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-sm btn-info" style="float: right" onclick="login()" >登录</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col">
                <hr>
                <p style="font-size: 10px">没有账号？<a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick= "create_modal('{% url "register_user" %}')">注册新用户</a></p>
                <p style="font-size: 10px">不记得密码？<a href="{% url "test" %}">忘记密码</a></p>
            </div>
        </div>
    </div>
</div>